.logo img { width: 50%; }
.dashboard_logo { display: flex; justify-content: center; align-items: center; }
.dark-edition .sidebar .sidebar-background:after, .dark-edition .sidebar { background: #1d1d1d; opacity: 1; }
.dark-edition .card { background: #1d1d1d; }
.dark-edition { background-color: #353535; }
.dark-edition .sidebar[data-color="purple"] li.active > a { background: linear-gradient(60deg, #db2803, #ad1410); box-shadow: 0px 1px 1px black; }
.dark-edition .navbar .notification { background: linear-gradient( 60deg, #db2803, #ad1410); border: 0; height: 18px; min-width: 18px; }
.card-header-red {background: linear-gradient( 60deg, #bb2000, #ad1410); box-shadow: 0px 1px 1px black;}
.main-panel { background: #353535; }