.navbar {

    &.fixed-top{
        border-radius: 0;
    }

    

    .btn,
    .navbar-nav .nav-item .btn{
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar-toggler{
        cursor: pointer;
        outline: 0;

        .navbar-toggler-icon{
            width: 22px;
            height: 2px;
            vertical-align: middle;
            outline: 0;
            display: block;
            border-radius: 1px;

            & + .navbar-toggler-icon{
                margin-top: 4px;
            }
        }
    }

    &.navbar-absolute{
        position: absolute;
        width: 100%;
        padding-top: 10px;
        z-index: 1029;
    }

    .navbar-wrapper{
        display: inline-flex;
        align-items: center;
    }


    > .container {
        flex: 1;
    }

    &.bg-primary{
        @include navbar-colors($bg-primary, $white-color);
    }
    &.bg-info{
        @include navbar-colors($bg-info, $white-color);
    }

    &.bg-warning{
        @include navbar-colors($bg-warning, $white-color);
    }

    &.bg-rose{
        @include navbar-colors($bg-rose, $white-color);
    }

    &.bg-danger{
        @include navbar-colors($bg-danger, $white-color);
    }

    &.bg-success{
        @include navbar-colors($bg-success, $white-color);
    }
    &.bg-dark{
        @include navbar-colors($grey-900, $white-color);
    }

    &.navbar-transparent{
        background-color: transparent !important;
        box-shadow: none;
    }


  .notification{
    position: absolute;
    top: 5px;
    border: 1px solid #FFF;
    right: 10px;
    font-size: 9px;
    background: #f44336;
    color: #FFFFFF;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
  }
}



.off-canvas-sidebar{
  .navbar{
    .navbar-collapse{
      .navbar-nav .nav-item{
        .nav-link{
          padding-top: 15px;
          padding-bottom: 15px;
          font-weight: 500;
          font-size: 12px;
          text-transform: uppercase;
          border-radius: 3px;
          color: $white-color;
          margin: 0 15px;

          &:hover{
            background: rgba(200, 200, 200, 0.2);
          }
        }
      }
    }

    &.navbar-transparent {
      padding-top: 25px !important;
    }
  }
}
