<h1>EmployeesBackoffice::Employees#index</h1>
<p>Find me in app/views/employees_backoffice/employees/index.html.erb</p>
<div class="container">
  <div class="employee_dashboard">

    <h4>EMPLOYEES</h4>

    <%= link_to 'NOVO', new_employees_backoffice_employee_path, class: "btn btn-secondary" %>

<% @employees.each do |employee| %>

<p><%= employee.id %> - <%= employee.email %> - </p>
<% end %>
