<section id="Home">
    <div class="container">
        <div class="Home_container">
            <%= image_tag "kazan_logo.png", class: "img-responsive home_logo" %>
        </div>
    </div>
</section>
