<div class="container">
  <div class="tantosha_dashboard">
    <h1>tantosha APPLICATION</h1>
    <%= link_to 'Show', tantoshas_backoffice_tantosha_path(current_tantosha), class: "btn btn-primary"  %>
  </div>
</div>
