<div class="container">
  <div class="employee_dashboard">
    <h1>EMPLOYEE APPLICATION</h1>
    <%= link_to 'Show', employees_backoffice_employee_path(current_employee), class: "btn btn-primary"  %>
  </div>
</div>
